body {
    font-family:"Work Sans";
    font-size: 16px;
}

.container{
    max-width: 700px; 
    background-color: antiquewhite;
    margin: 0px auto 0px;
    padding: 40px;
    margin-top: 50px;
}

.name{
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.separator {
    height: 13px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
}

.section_title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.section{
    margin-top: 10px;
}

.left {
    width: 60%;
}

.right {
    width: 39%;
}

.left ,
.right {
  vertical-align: top;
  display: inline-block;
}

.school ,
.job ,
.project {
    font-weight: bold;
    margin-top: 10px;
}